
///////////////////////////////
///////////////////////////////
//
// Bitmaps
//
///////////////////////////////


10 BITMAP DISCARDABLE  0_100Degrée.bmp
20 BITMAP DISCARDABLE  0_100Psi.bmp
30 BITMAP DISCARDABLE  0_200Psi.bmp
40 BITMAP DISCARDABLE  0_500Degrée.bmp
50 BITMAP DISCARDABLE  -50_50Degrée.bmp

///////////////////////////////






